.row {
	display:block;
}
.box {
	float:left;
	background-color:black;
}
.box:hover {
	box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	-webkit-box-sizing:border-box;
	border:2px solid blue;
}
#container {
	border:2px solid grey;
	margin:10px auto;
}
#reset {
	margin:40px auto 10px auto;
	display:block;
	width:100px;
	height:30px;
	font-size:20px;
	border:2px solid grey;
	background-color:white;
	font-family:sans-serif;
}
#reset:hover {
	border-color:blue;
}
#styleChoices {
	text-align:center;
}